---
import Layout from "../layouts/Layout.astro";
import SocialPill from "../components/SocialPill.astro";
import ChevronDown from "../assets/icons/ChevronDown.astro";
import LinkedInIcon from "../assets/icons/LinkedIn.astro";
import GithubIcon from "../assets/icons/Github.astro";
import GmailIcon from "../assets/icons/Gmail.astro";
import Experience from "../components/Experience.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Briefcase from "../assets/icons/Briefcase.astro";
import { getI18n } from "../i18n";
import BentoHome from "./BentoHome/BentoHome.astro";
import BentoExperience from "./BentoExperience/BentoExperience.astro";

const { currentLocale = "en" } = Astro;
const i18n = getI18n({ currentLocale });
---

<Layout
  title={i18n.SEO_TITLE}
  description={i18n.SEO_DESCRIPTION}
  currentLocale={currentLocale}
>
  <main class="px-4">
    <SectionContainer class="flex flex-col justify-evenly" id="home">
      <div>
        <BentoHome translations={i18n} />
        <nav class="flex gap-4 mt-8 flex-wrap">
          <SocialPill
            href="https://www.linkedin.com/in/noel-caparros-burgos-8a5575248/"
          >
            <LinkedInIcon class="size-4 md:size-6" />
            {i18n.HOME.LINKEDIN_LINK}
          </SocialPill>
          <SocialPill href="https://github.com/noelcaparros">
            <GithubIcon class="size-4 md:size-6" />
            {i18n.HOME.GITHUB_LINK}
          </SocialPill>
          <SocialPill href="mailto:noelcaparros1999@gmail.com">
            <GmailIcon class="size-4 md:size-6" />
            {i18n.HOME.EMAIL_LINK}
          </SocialPill>
        </nav>
      </div>

      <a
        class="self-center mt-7 hover:scale-110 cursor-pointer transition bottom-0 relative opacity-85 pb-20"
        href="#experience"
      >
        <ChevronDown />
      </a>
    </SectionContainer>
  </main>
</Layout>

<SectionContainer id="experience" class="mb-20">
  <BentoExperience translations={i18n} />
</SectionContainer>
