---
import { getI18n } from "../i18n";
import LanguageDropdown from "./LanguageDropdown.astro";
import ThemeSwitch from "./ThemeSwitch.astro";

interface Props {
  currentLocale: string;
}

const { currentLocale } = Astro.props;
const i18n = getI18n({ currentLocale });
---

<header
  id="header-nav"
  class={`
    fixed flex justify-center items-center py-3 lg:py-5 w-full mx-auto top-0 z-10 backdrop-blur-sm
  `}
>
  <nav class="class flex items-center justify-center">
    <div
      class="flex flex-row md:px-16 gap-x-5 lg:gap-x-10 opacity-80 flex-wrap left pl-6 max-w-80 md:max-w-fit lg:max-w-fit md:text-xl"
    >
      <a class="hover:scale-110 transition" href="#top">{i18n.HEADER.HOME}</a>
      <a class="hover:scale-110 transition" href="#experience"
        >{i18n.HEADER.EXPERIENCE}</a
      >
      <a class="hover:scale-110 transition" href="#about"
        >{i18n.HEADER.ABOUT_ME}</a
      >
      <a class="hover:scale-110 transition" href="#contact"
        >{i18n.HEADER.CONTACT}</a
      >
    </div>

    <LanguageDropdown currentLocale={currentLocale} translations={i18n} />
  </nav>
  <ThemeSwitch class="right-0 absolute" />
</header>
