---
import BentoPicture from "../Bento/BentoPicture.astro";
import BentoSpecialItem from "../Bento/BentoSpecialItem.astro";
import BentoItem from "./BentoItem.astro";
import BentoMap from "./BentoMap.astro";

interface Props {
  translations: {
    [key: string]: any;
  };
}

const { translations } = Astro.props;
---

<section
  class="max-h-screen max-w-full grid grid-cols-10 grid-rows-8 gap-4 mx-auto pt-24"
>
  <BentoPicture
    class="col-span-6 row-span-8"
    title={translations.HOME.PORTFOLIO_NAME}
    subtitle={translations.HOME.PORTFOLIO_SUBTITLE}
  >
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
      -z-10 h-full w-full
      bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('src/assets/img/noel.webp')"
    >
    </div>
  </BentoPicture>

  <BentoItem
    class="col-span-4 row-span-4"
    subtitle={translations.HOME.PORTFOLIO_DESCRIPTION}
  />

  <BentoSpecialItem
    class="col-span-2 row-span-4 backdrop-blur-sm text-center relative p-[2px] dark:p-[1px]"
    title={translations.HOME.EXPERIENCE_TIME_TITLE}
    subtitle={translations.HOME.EXPERIENCE_TIME_DESCRIPTION}
  />

  <BentoMap class="col-span-2 row-span-4" title={translations.HOME.LOCATION}>
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0 cursor-pointer
-z-10 h-full w-full
bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-150"
      style="background-image: url('src/assets/img/locationApple.webp')"
    >
    </div>
  </BentoMap>
</section>
